APP_ENV=development
SECRET_KEY=django-insecure-dev-only-change-me
JWT_SECRET=jwt-dev-only-change-me
DB_NAME=cafeteria
DB_HOST=mongodb://mongo:27017/
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@cafeteria.local
